ul.sidebar
	li
		a(href="#stats") Stats
		ul.sub
			li
				a(href="#stats-player") Player Stats
				a(href="#stats-operators") Operators
	li
		a(href="#authentication") Authentication
		ul.sub
			li
				a(href="#authentication-register") Register
				a(href="#authentication-signup") Sign Up
	li
		a(href="#leaderboards") Leaderboards
		ul.sub
			li
				a(href="#leaderboards-leaderboards") Leaderboards
				a(href="#leaderboards-findplayer") Find Player
